{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if events|length %}
<div class="container-fluide">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for event in events %}
    <div class="carousel-item {%if loop.first %} active {% endif %}" style="background-image:url('/uploads/{{ event.image.path }}')">
      <img src="/uploads/{{ event.image.path }}" class="d-block">
      <div>
            <h2>{{ event.title |upper}}</h2>
            <div>{{ event.createdAt|date('d/m/Y') }}</div>
            <div>{{ event.createdAt|date('H:i') }}</div>
            <div class="content">{{ event.location|striptags|slice(0, 20)|raw }}...</div>
            <a href="{{path('app_register')}}">Détail</a>
        </div>
  
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<section>
<div style="display:flex; justify-content:center; align-items:center; flex-direction: column;">
    <h1>Je recherche un concert</h1>
    <div class="search" style="display:flex; justify-content:center; align-items:center; flex-direction: column;">
        <input type="text" name="q" placeholder="Nom du groupe"style="padding: 20px; background: #EFEFEF; width: 500px;">
        <div class="search-result" style="display:flex; justify-content:center; align-items:center; flex-direction: column;width: 100%"></div>
    </div>
</div>
</section>
{% else %}

{% endif %}
{% endblock %}
