{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
{% if events|length %}
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for event in events %}
    <div class="carousel-item {%if loop.first %} active {% endif %}">
      <img src="/uploads/{{ event.image.path }}" class="d-block w-100">
      <div>
            <h2>{{ event.title |upper}}</h2>
            <div>{{ event.createdAt|date('d/m/Y') }}</div>
            <div>{{ event.createdAt|date('H:i') }}</div>
            <div class="content">{{ event.content|striptags|slice(0, 20)|raw }}...</div>
            <a href="{{path('app_register')}}">Détail</a>
        </div>
  
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% else %}

{% endif %}
{% endblock %}
